<div class="temp-home">
  <ng-container *ngIf="role == 'admin'" >
    <div class="content-data">
      <div class="card">
        <h1 class="number">10</h1>
        <h2 class="title">PROYECTOS REGISTRADOS </h2>
      </div>

      <div class="card">
        <h1 class="number">500</h1>
        <h2 class="title">ALUMNOS REGISTRADOS</h2>
      </div>

      <div class="card">
        <h1 class="number">40</h1>
        <h2 class="title">PROFESORES REGISTRADOS</h2>
      </div>
    </div>


<!--
    <div class="card">
      <h1 class="title">PROYECTOS REGISTRADOS: 0</h1>
      <h1 class="title">PROYECTOS EN PROCESO: 0</h1>
    </div> -->
  </ng-container>
</div>
