<div class="temp-nav">

    <div class="section-nav">

        <div class="head">
            <div class="content-circle">
                <span>D</span>
            </div>
        </div>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <mat-icon class="material-symbols-outlined">account_tree</mat-icon> <span  class="font-500">  PROCESOS </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <div class="body-expansion">
                    <button class="btn"> <mat-icon class="material-symbols-outlined">group_add</mat-icon> INSCRIPCIONES </button>
                </div>
                <mat-divider></mat-divider>
            </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <mat-icon class="material-symbols-outlined">receipt_long</mat-icon> <span  class="font-500">  REPORTES </span>     
                    </mat-panel-title>
                </mat-expansion-panel-header>
   
                <div class="body-expansion">
                </div>
                
            </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="font-600" >
                        GESTIÓN    
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <div class="body-expansion">
                    <button class="btn"> <mat-icon class="material-symbols-outlined">group</mat-icon> Sujeto de estudio </button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">apartment</mat-icon> Comunidad </button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">school</mat-icon> Docente acompañante </button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">menu_book</mat-icon>PNF</button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">auto_stories</mat-icon>SSECCIÓN</button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">auto_stories</mat-icon>TRAYECTO</button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">content_paste_search</mat-icon>LINEA DE INVESTIGACIÓN</button>
                    <mat-divider></mat-divider>
                    <button class="btn"> <mat-icon class="material-symbols-outlined">content_paste_search</mat-icon>AREA PRIORITARIA    </button>
                </div>
                
            </mat-expansion-panel>
        </mat-accordion>

    </div>

    <div class="section-content">
        <h1>asd</h1>
        <router-outlet></router-outlet>
    </div>

</div>