<div class="temp-login">

    <div class="grid justify-items-center align-content-center gap-20">
        <div class="content-logo">
            <img src="/assets/image/logo.jpeg" alt="">
        </div>
        <h1 class="title text-center" >SISTEMA DE GESTIÓN DE PROYECTO</h1>
    </div>

    <div class="card">
        <h2 class="text-center font-600 align-self-center">Inicia sesión</h2>

        <form action="">

            <div class="form-group">
                <label for="">Correo</label>
                <input type="text" class="input-square" formControlName="dealer">
            </div>

            <div class="form-group">
                <label for="">Clave</label>
                <input type="password" class="input-square" formControlName="dealer">
            </div>

            <div class="form-group">
                <button class="btn-primary btn-block"> Iniciar sesión </button>
            </div>
        </form>

    </div>
</div>