<div class="temp-login">

    <div class="grid justify-items-center align-content-center gap-20">
        <div class="content-logo">
            <img src="/assets/image/logo.jpeg" alt="">
        </div>
        <h1 class="title text-center" >SISTEMA DE GESTIÓN DE PROYECTO</h1>
    </div>

    <div class="card">
        <h2 class="text-center font-600 align-self-center">Inicia sesión</h2>

        <form (submit)="login()">

            <div class="form-group">
                <label for="">Correo</label>
                <input type="text" class="input-square" formControlName="dealer">
            </div>

            <div class="form-group">
                <label for="">Clave</label>
                <input type="password" class="input-square" formControlName="dealer">
            </div>

            <div class="form-group">
                <button type="button" class="btn-primary btn-block" (click)="login()"> Iniciar sesión </button>
            </div>
        </form>

    </div>
</div>


<!-- * MODAL CONFIRM EDIT -->
<ng-template #modal>
    <mat-dialog-actions class="modal">
        <div class="header">
            <span></span>
            <button class="btn btn-close" mat-dialog-close="true"> <mat-icon class="material-symbols-outlined">close</mat-icon></button>
        </div>
        
        <div class="modal-body" >
            <h2 class="text-center font-600"> ¿Deseas actualizar tu perfil?</h2>
        </div>

    </mat-dialog-actions>
</ng-template>